<div class="sidebar admin-sidebar" [class.open]="isOpen">
  <a routerLink="/home" class="d-block p-4">
    <img src="assets/images/logo/logo.png" class="w-100 object-fit-contain" alt="Career Nava Logo">
  </a>

  <div class="sidebar-menu">
    <ul class="menu">
      <li class="menu-item d-block d-sm-none">
        <button type="button" (click)="toggleSidebar()" class="btn btn-primary">Close Menu</button>
      </li>

      <li class="menu-item">
        <span class="subtitle">Admin Dashboard</span>
        <a routerLink="/admin/overview" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
          <fa-icon [icon]="faHouse"></fa-icon>
          <span>Overview</span>
        </a>
      </li>

      <li class="menu-item">
        <a routerLink="/admin/mentors" routerLinkActive="active" class="nav-link">
          <fa-icon [icon]="faUser"></fa-icon>
          <span>Mentors</span>
        </a>
      </li>

      <li class="menu-item">
        <a routerLink="/admin/sessions" routerLinkActive="active" class="nav-link">
          <fa-icon [icon]="faChartLine"></fa-icon>
          <span>Sessions</span>
        </a>
      </li>

      <li class="menu-item">
        <a routerLink="/admin/scholarships" routerLinkActive="active" class="nav-link">
          <fa-icon [icon]="faFile"></fa-icon>
          <span>Scholarships</span>
        </a>
      </li>

      <li class="menu-item">
        <a routerLink="/admin/blogs" routerLinkActive="active" class="nav-link">
          <fa-icon [icon]="faFile"></fa-icon>
          <span>Blogs</span>
        </a>
      </li>

      <li class="menu-item">
        <button type="button" (click)="logout()" class="nav-link border-0 bg-transparent text-start">
          <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
          <span>Logout</span>
        </button>
      </li>
    </ul>
  </div>
</div>
