<section class="faqs position-relative py-12 px-4">

  <!-- Background SVG -->
  <svg class="position-absolute top-0 start-0 w-100 h-100 opacity-25" style="z-index: 0;" viewBox="0 0 960 540" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" stroke="currentColor" stroke-width="100">
      <circle r="234" cx="196" cy="23" class="text-brand-purple-50 opacity-40"></circle>
      <circle r="234" cx="790" cy="491" class="text-brand-purple-50 opacity-40"></circle>
    </g>
  </svg>

  <div class="container position-relative z-10">
    <!-- Header -->
    <div class="text-center mb-8">
      <h2 class="section-title">Frequently Asked Questions</h2>
      <div class="section-title-underline"></div>
      <p class="section-subtitle">
        Here are the most frequently asked questions you may check before getting started
      </p>
    </div>

    <!-- Grid -->
    <div class="row mt-4 g-3">
  <div class="col-12">
    <div class="accordion" id="faqAccordion">
      <div class="row m-0">
        <div class="col-12 col-lg-6" *ngFor="let faq of faqs; let i = index">
          <div class="accordion-item info-card">
        <div class="accordion-header" [id]="'heading' + i">
          <button
            class="accordion-button fw-bold info-card-title text-default-on-primary"
            [class.collapsed]="i !== 0"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i"
            [attr.aria-expanded]="i === 0"
            [attr.aria-controls]="'collapse' + i"
          >
            {{ faq.question }}
          </button>
        </div> 

        <div
          [id]="'collapse' + i"
          class="accordion-collapse collapse"
          [class.show]="i === 0"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body info-card-text">
            <p>{{ faq.answer }}</p>
          </div>
        </div>
      </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


  </div>
</section>
