<!-- Vision Section -->
<section class="bg-default-brand-secondary">
  <div class="container">
    <div class="w-100 max-w-md mx-auto">
      <div class="row align-items-center justify-content-around row-gap-4">

        <div class="col-12 col-lg-6">
          <h2 class="section-title">Our Vision</h2>
          <p class="section-text">
            A world of equality in access to opportunities for millions of youths.<br/>
            A future where the youth find themselves exactly where they wish to be
            regardless of economics, background, or ethnicity.
          </p>
        </div>

        <div class="col-12 col-lg-6">
          <div class="vision-image">
            <img src="assets/images/landing-page/graduants-vision.jpg" alt="Image" class="object-fit-cover w-100 h-100"/>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Belief Section -->
<section>
  <div class="container">
    <div class="w-100 max-w-md mx-auto">

      <h2 class="section-title">Our Beliefs</h2>

      <ul class="belief-list">
        @for (belief of beliefs; track belief) {
          <li>{{ belief }}</li>
        }
      </ul>

    </div>
  </div>
</section>

<!-- Core values Section -->
<section class="bg-default-brand-secondary">
  <div class="container">
    <div class="w-100 max-w-md mx-auto">

      <div class="row">
        <div class="col-12 col-lg-6">
          <h2 class="section-title">Our Core Values</h2>
          <p class="section-text">
            Our core values guide how we operate, make decisions, and show up for the young people we serve.
          </p>

          <div class="values-grid">
            @for (value of coreValues; track value) {
              <div class="value-card">{{ value }}</div>
            }
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="vision-image">
            <img ngSrc="assets/images/landing-page/student-2.jpg" alt="Image" class="border-rounded object-fit-cover w-100 h-100" height="1500" width="1000"/>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
