<div class="container">

  <!-- Header -->
  <div>
    <div class="mb-5">
      <h1>My Scholars</h1>
      <p>Below is a list of the scholars who are progressing with your guidance and support.</p>
    </div>
  </div>

  <div class="card border-0">
        <div class="card-header">
          <div>
            <h3 class="card-title">Scholars ({{ students.length }})</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row gap-4 gap-lg-0">
            <!-- Scholars -->
            <div class="col-12 col-md-3" *ngFor="let student of students">
              <div class="card hovering-zoom">
                <div class="card-body d-flex justify-content-center">
                  <img [src]="student.avatar" [alt]="student.name" class="w-100 object-fit-contain" style="max-width: 200px;">
                </div>
                <div class="card-header align-items-start">
                  <div>
                    <h4 class="card-title">{{ student.name }}</h4>
                    <p>{{ student.contactInfo.email }}</p>
                    <p>{{ student.contactInfo.phone }}</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

</div>

