.testimonial {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 5rem 1rem;

  .overlay-layer-blur {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
    z-index: 0;
  }

  .users-img {
    max-height: 400px;
    max-width: none;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 0.5rem;
  }

  @media (max-width: 768px) {
    padding: 3rem 1rem;

    .carousel-caption {
      text-align: center;
    }
    .users-img {
      max-height: 200px;
    }
  }
}
