<footer class="footer bg-default-brand-primary overflow-hidden position-relative text-custom-light-50">
  <div class="ellipsis first"></div>

  <div class="ellipsis second"></div>
  <img src="assets/images/illustrations/graduants-2.svg" class="position-absolute graduants" alt="" style="bottom: 60px"/>

  <div class="container mx-auto position-relative z-3">
    <div class="row justify-content-between pb-4">

      <!-- Column 1 -->
      <div class="col-12 col-lg-5">
        <div class="w-100 d-flex flex-column gap-4">
          <a [routerLink]="logo.link" class="d-block">
            <img [src]="logo.src" class="w-100 max-w-240 object-fit-contain" [alt]="logo.alt"/>
          </a>

          <h2>{{ mainHeading }}</h2>
          <p>{{ mainText }}</p>

        </div>
      </div>

      <!-- Column 2 -->
      <div class="col-12 col-lg-3">
        <div class="d-flex flex-column gap-4">
          <div>
            <ul>
              @for (link of companyLinks; track link.label) {
                <li><p><a [routerLink]="[link.path]">{{ link.label }}</a></p></li>
              }
            </ul>
            <hr>
            <ul>
              @for (link of legalLinks; track link.label) {
                <li><p><a [routerLink]="link.path">{{ link.label }}</a></p></li>
              }
            </ul>
          </div>
        </div>
      </div>

      <!-- Column 3 -->
      <div class="col-12 col-lg-3">
        <div class="w-100 d-flex flex-column gap-4">
          <div>
            <h5>Contact Us</h5>
            <p>{{ contact.address }}</p>
            <a [href]="'mailto:' + contact.email" class="link hover:text-accent-light">
              <p>{{ contact.email }}</p>
            </a>
            <a [href]="'tel:' + contact.phone" class="link hover:text-accent-light">
              <p>{{ contact.phone }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark-primary p-2 text-center text-sm text-white position-relative z-3 d-flex align-items-center justify-content-center" style="height: 60px">
    <p>{{ currentYear }} © Career Nava.</p>
  </div>
</footer>
