<section class="text-center overflow-hidden">
  <div class="container">
    <div class="w-100 max-w-md mx-auto d-flex flex-column justify-content-center align-items-center gap-2">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-12">
          <div class="mb-4">
            <h2 class="text-5xl font-bold">Meet Our Mentors</h2>
            <p>
              Career Nava connects mentees with expert mentors across industries —
              guiding you through career growth, personal development, and
              professional transformation.
            </p>
          </div>
        </div>

        <div class="w-100 mentor-carousel my-4">
          <div class="mentor-track d-flex flex-wrap gap-3">
            @for (mentor of mentors; track mentor.fullName) {
              <div class="card bg-transparent b-0">
                <div
                  class="card-header position-relative align-items-center overflow-hidden p-0 teacher-img w-100">
                  <img
                    [src]="mentor.profilePicture"
                    [alt]="mentor.fullName"
                    class="w-100 h-100 mx-auto"/>
                </div>

                <div class="card-body p-4 text-start">
                  <h3 class="text-center">{{ mentor.fullName }}</h3>

                  <p>
                    <fa-icon [icon]="faBriefcase" class="text-brand-yellow-550 me-2"></fa-icon>
                    {{ mentor.positionTitle }}
                    <span *ngIf="mentor.company">at {{ mentor.company }}</span>
                  </p>

                  <p>
                    <fa-icon [icon]="faComments" class="text-brand-yellow-550 me-2"></fa-icon>
                    {{ mentor.totalSessions }} Sessions (<span>{{ mentor.totalReviews }}</span> Reviews)
                  </p>

                  <p>
                    Rating:
                    @for (_ of getStars(mentor.avgRating); track $index) {
                      <fa-icon [icon]="faStarFull" class="text-brand-yellow-550"></fa-icon>
                    }
                    @if ((mentor.avgRating ?? 0) % 1 !== 0) {
                      <fa-icon [icon]="faStarHalf" class="text-brand-yellow-550"></fa-icon>
                    }
                    <span class="ms-2">{{ mentor.avgRating }} Star Rating</span>
                  </p>
                </div>

                <div
                  class="card-footer flex-row flex-wrap justify-content-center align-items-center gap-2 h-auto p-0 b-0 bg-transparent">
                  @for (e of mentor.expertise; track $index) {
                    <span class="p-2 m-1 bg-brand-purple-100 rounded">{{ e }}</span>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
