<div class="sidebar" [class.open]="isOpen">
  <a [routerLink]="['/home']" class="d-block p-4">
    <img src="assets/images/logo/logo.png" class="w-100 object-fit-contain" alt="Logo"/>
  </a>

  <div class="sidebar-menu">
    <ul class="menu">
      <!-- Small screen toggle -->
      <li class="menu-item d-block d-sm-none">
        <button (click)="toggleSidebar()" class="btn btn-secondary">Close Menu</button>
      </li>

      <!-- Dynamic menu items -->
      <li *ngFor="let item of menuItems" class="menu-item">
        <a *ngIf="item.route; else actionItem" [routerLink]="item.route" routerLinkActive="active" class="nav-link">
          <fa-icon [icon]="item.icon"></fa-icon>
          <span>{{ item.label }}</span>
        </a>

        <!-- Items with actions instead of routes -->
        <ng-template #actionItem>
          <a (click)="item.action?.()" class="nav-link">
            <fa-icon [icon]="item.icon"></fa-icon>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
