<aside
  class="auth-sidebar"
  [class.open]="isOpen"
  [ngClass]="config.themeClass">
  <div class="auth-sidebar__header">
    <a [routerLink]="config.homeRoute" class="auth-sidebar__brand d-block p-4" (click)="closeSidebar()">
      <img [src]="config.logoSrc" class="w-100 object-fit-contain" [alt]="config.logoAlt"/>
    </a>

    <button
      type="button"
      class="auth-sidebar__close d-lg-none"
      (click)="closeSidebar()"
      aria-label="Close sidebar">
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>
  </div>

  <div class="auth-sidebar__menu">
    <ul class="menu">
      <li class="menu-item" *ngIf="config.title">
        <span class="subtitle">{{ config.title }}</span>
      </li>

      <li *ngFor="let item of config.items" class="menu-item">
        <a
          [routerLink]="item.route"
          [class.active]="isItemActive(item)"
          class="nav-link"
          (click)="closeSidebar()">
          <fa-icon [icon]="item.icon"></fa-icon>
          <span>{{ item.label }}</span>
        </a>
      </li>

      <li class="menu-item auth-sidebar__logout">
        <button type="button" (click)="logout()" class="nav-link border-0 bg-transparent text-start">
          <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
          <span>Logout</span>
        </button>
      </li>
    </ul>
  </div>
</aside>

<div
  class="auth-sidebar-overlay"
  [class.show]="isOpen"
  (click)="closeSidebar()">
</div>
