<div class="sidebar" [class.open]="isOpen">
    <a href="/student/overview" class="d-block p-4">
        <img src="assets/images/logo/logo.png" class="w-100 object-fit-contain" alt="Logo">
    </a>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="menu-item d-block d-sm-none">
                <button (click)="toggleSidebar()" class="btn btn-primary">Menu</button>
            </li>

            <li class="menu-item">
               <a routerLink="/mentee/mentors" routerLinkActive="active" class="nav-link">
                   <fa-icon [icon]="faUsers"></fa-icon>
                   <span>Explore Mentors</span>
                </a>
           </li>

            <li class="menu-item">
                <a routerLink="/mentee/sessions" routerLinkActive="active" class="nav-link">
                    <fa-icon [icon]="faLaptop"></fa-icon>
                    <span>My Sessions</span>
                </a>
            </li>
            
            <li class="menu-item">
                <a (click)="logout()" routerLinkActive="active" class="nav-link">
                <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                <span>Logout</span>
                </a>
            </li>

        </ul>
    </div>
</div>
