<section class="pricing-section text-center bg-default-brand-secondary py-5">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-12">
        <h2 class="display-5 fw-bold">Our Pricing Packages</h2>
        <p class="">We provide suitable pricing for your individual needs.</p>
      </div>
    </div>

    <div class="row g-4 justify-content-center">
      @for (item of pricingPackages; track item.title) {
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pricing-card shadow-sm h-100 position-relative">

            <!-- Recommended Badge -->
            @if (item.recommended) {
              <div class="recommended-badge">
                Recommended
              </div>
            }

            <!-- Header -->
            <div class="pricing-header text-white">
              <h4 class="fw-bold">{{ item.title }}</h4>
              @if (item.price) {
                <h3 class="pricing-amount">{{ item.price }}</h3>
              }
            </div>

            <!-- Content -->
            <ul class="pricing-features list-unstyled text-start px-3">
              @for (item of item.features; track $index) {
                <li class="py-1">
                  <p class="m-0">{{ item }}</p>
                </li>
              }
            </ul>

            <!-- Footer -->
            <a class="btn btn-primary w-100 mt-auto pricing-btn">
              {{ item.button }}
            </a>

          </div>
        </div>
      }
    </div>
  </div>
</section>
