<div class="container-fluid">

  <!-- Header -->
  <div class="card header-decorater mb-5" style="min-height: none;">
    <img src="assets/images/pattern.png" alt="" class="pattern">

    <div class="p-4 w-100 text-center text-lg-start" style="z-index: 5;">
      <div class="d-flex flex-column flex-lg-row gap-4 align-items-center justify-content-lg-start">
        <img [src]="mentor?.image" [alt]="mentor?.name"
             class="object-fit-cover rounded" style="width: 200px; height: 200px;"/>
          <div class="w-100">
            <h1 class="mentor-name">{{ mentor?.name }}</h1>
            <p>{{ mentor?.title }} at {{ mentor?.company }}</p>
            <button class="btn btn-primary my-4 mx-auto mx-lg-0">Book A Session With {{ mentor?.name }}</button>
          </div>
      </div>
    </div>
    </div>

    <div class="row gy-4">
      <div class="col-12 col-lg-7">
        <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
            Overview
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Achievements</a>
        </li> -->
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="card border-0">
                <div class="card-body">
                  <h3 class="card-title"><b>Overview</b></h3>
                    <p class="my-4" style="line-height: 1.9; font-size: 1.15em;">"{{ mentor?.description }}"</p>
                    <br>
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title"><b>Background</b></h3>
                      </div>

                      <div class="card-body">

                        <div class="py-2 d-flex align-items-center justify-content-between">
                          <p class="fs-6">Expertise:</p>
                        <div class="d-flex align-items-center gap-2">
                          <p class="badge badge-primary mx-2" *ngFor="let e of mentor?.expertise">{{ e }}</p>
                        </div>
                        </div>

                        <hr>

                        <div class="py-2 d-flex align-items-center justify-content-between">
                          <p class="fs-6">Disciplines:</p>
                        <div class="d-flex align-items-center gap-2">
                          <p class="badge badge-white b-1 mx-2" *ngFor="let d of mentor?.disciplines">{{ d }}</p>
                        </div>
                        </div>

                        <hr>

                        <div class="py-2 d-flex align-items-center justify-content-between">
                          <p class="fs-6">Fluency:</p>
                        <div class="d-flex align-items-center gap-2">
                          <p class="badge badge-white b-1 mx-2" *ngFor="let f of mentor?.fluentIn">{{ f }}</p>
                        </div>
                        </div>
                        
                      </div>

                    </div>
                </div>
            </div>
            </div>
      </div>
    </div>

      <div class="col-12 col-lg-5">
        <ng-container *ngIf="mentor?.experiences">
          <div class="card border-0">
                <div class="card-header">
                  <h3 class="card-title"><b>Experience</b></h3>
                </div>
                <div class="card-body">
                  <div class="card mb-4" *ngFor="let experience of mentor?.experiences">
                    <div class="card-header gap-3 justify-content-start">
                      <img [src]="experience?.companyImage" [alt]="experience?.title" class="object-fit-contain" style="width: 100px; height: 60px; border-radius: 8px;">
                      <div>
                        <h4 class="card-title">{{ experience?.title }}</h4>
                        <p class="card-subtitle">{{ experience?.year  }}</p>
                      </div>
                    </div>
                    <div class="card-body">
                      <p>{{ experience?.description }}</p>
                    </div>
                  </div>
                    <br>
                </div>
            </div>
        </ng-container>
        
      </div>

  </div>

    

  </div>
