<div class="container">

  <!-- Header -->
  <div class="card header-decorater mb-5" style="min-height: none;">
    <img src="assets/images/pattern.png" alt="" class="pattern">

    <div class="card-body text-center text-lg-start" style="z-index: 5; height: 150px;">
      <div class="row align-items-center justify-content-lg-between">
        <!-- Name -->
        <div class="col-12 col-lg-6">
          <div>
            <h1>Explore Mentors</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
        All
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Upcoming</a>
    </li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

      <div class="card border-0">
        <div class="card-header">
          <div>
            <h3 class="card-title">Mentors (3)</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.</p>
          </div>
          <a href="#" class="btn btn-primary">See all mentors</a>
        </div>
        <div class="card-body">
          <div class="row gap-4 gap-lg-0">
            <!-- Mentors -->
            <div  class="col-12 col-lg-4">
              <div id="mentor" class="card">
                <div class="card-header position-relative align-items-start overflow-hidden" style="height: 200px;">
                    <img src="assets/images/avatars/female-19.jpg" alt="Mentor" class="w-100 h-100 object-fit-cover">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Winnie Johnson</h4>
                    <!-- <p class="card-subtitle">Senior Product Designer</p> -->
                      <p><fa-icon [icon]="faBriefcase" class="text-brand-green-500"></fa-icon> Senior Product Designer at Master Works | Facebook</p>
                      <p><fa-icon [icon]="faComments" class="text-brand-green-500"></fa-icon> 84 Sessions (34 Reviews)</p>
                      <p>Reviews: 
                        <fa-icon [icon]="faStarFull" class="text-brand-green-500"></fa-icon>
                        <fa-icon [icon]="faStarFull" class="text-brand-green-500"></fa-icon>
                        <fa-icon [icon]="faStarFull" class="text-brand-green-500"></fa-icon>
                        <fa-icon [icon]="faStarFull" class="text-brand-green-500"></fa-icon>
                        <fa-icon [icon]="faStarHalf" class="text-brand-green-500"></fa-icon>
                         <span> 4.5 Star Rating</span></p>
                  <p class="mt-5">
                     assignment.description
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
