<div class="container">

  <!-- Header -->
  <div class="card header-decorater mb-5" style="min-height: none;">
    <img src="assets/images/pattern.png" alt="" class="pattern">

    <div class="p-4 w-100 text-center text-lg-start" style="z-index: 5; height: 150px;">
      <div class="row align-items-center justify-content-lg-start">
        <!-- Name -->
        <div class="col-12 col-lg-6">
          <div class="w-100">
            <h1>Explore Mentors</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
        All
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Upcoming</a>
    </li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

      <div class="card border-0">
        <div class="card-header bg-transparent">
          <div>
            <h3 class="card-title">Mentors (3)</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row gap-4 gap-lg-0">
            <!-- Mentors -->
            <div  class="col-12 col-md-6 col-lg-3">
                <a href="" class="d-block">
                    <div id="mentor" class="card">
                <div class="card-header position-relative align-items-start overflow-hidden p-0 b-0" style="height: 200px;">
                    <img src="assets/images/avatars/female-15.jpg" alt="Mentor" class="w-100 h-100 object-fit-cover">
                </div>
                <div class="card-body p-4">
                    <h4 class="card-title fs-4">Winnie Johnson</h4>
                    <!-- <p class="card-subtitle">Senior Product Designer</p> -->
                      <p><fa-icon [icon]="faBriefcase" class="text-brand-yellow-550"></fa-icon> Senior Product Designer at Master Works | Facebook</p>
                      <p><fa-icon [icon]="faComments" class="text-brand-yellow-550"></fa-icon> 84 Sessions (34 Reviews)</p>
                      <p>Reviews: 
                        <fa-icon [icon]="faStarFull" class="text-brand-yellow-550"></fa-icon>
                        <fa-icon [icon]="faStarFull" class="text-brand-yellow-550"></fa-icon>
                        <fa-icon [icon]="faStarFull" class="text-brand-yellow-550"></fa-icon>
                        <fa-icon [icon]="faStarFull" class="text-brand-yellow-550"></fa-icon>
                        <fa-icon [icon]="faStarHalf" class="text-brand-yellow-550"></fa-icon>
                         <span> 4.5 Star Rating</span></p>
                </div>
                <div class="card-footer flex-lg-row h-auto gap-1 p-4 bg-brand-purple-50 ">
                    <div class="w-100">
                        <p>Experience</p>
                        <p class="fs-6 font-bold">7 Years</p>
                    </div>
                    <div class="w-100">
                        <p>Avg Atendance</p>
                        <p class="fs-7 font-bold">100%</p>
                    </div>
                </div>
              </div>
                </a>
              
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
